* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1194px;
  margin: auto;
}
.header {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.search-form {
  margin-left: 78px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  max-height: 48px;
  flex-grow: 1;
  position: relative;
}
.search-input {
  font-size: 16px;
  line-height: 23px;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 20px 13px;
}
.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 18px;
  cursor: pointer;
}
.auth {
  margin-left: auto;
}
.login {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
}
.shopping-cart {
  position: relative;
  text-decoration: none;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #f66a15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.shopping-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 8px;
  line-height: 9px;
  background: #ffaf19;
  color: #000;
  display: block;
  padding: 5px;
  border-radius: 50%;
}
/* ------------------main------------------- */
/* ------------------slider------------------- */
.slide {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding-left: 100px;
}
.slide__text-light {
  background-color: grey;
  color: white;
}
.slide-content {
  position: relative;
  max-width: 400px;
}
.slide-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
}
.slide-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 32px;
}
.button-primary {
  background: #f47322;
  color: #fff;
}
.button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  border-radius: 25px;
  padding: 12px 52px;
  display: inline-block;
  text-decoration: none;
}
.slide-summer {
  position: relative;
  background-image: url(../img/slide_summer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
}
/* ------------------promo------------------- */
.promo {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  min-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card__text-light {
  color: #fff;
}
.card__header {
}
.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}
.card__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 168px;
  min-width: 380px;
}
.card__footer {
}
.card__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  display: block;
}
.card__delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}
.button {
}
.button__default {
  background: #ffffff;
  border-radius: 50px;
  color: #5f5f61;
}
.sweet-basket {
  background-image: url(../img/sweet-basket.png);
  background-repeat: no-repeat;
  background-position: center;
}
